@mixin desktop {
    @media (min-width: 768px) {
        @content
    }
}

.auth {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & div {
        font-weight: bold;
        margin-bottom: 25px;
        margin-top: 25px;
        width: 70%;
        height: 10%;
        @include desktop {
            width: 20%;
            height: 7%;
        }
    }
    & h1 {
        position: absolute;
        top: 10%;
        width: 80%;
        font-size: 200%;
        text-align: center;
    }
}