.account {
    width: 100vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    & h1 {
        margin: 25px;
    }
}