@import url('./components/auth/_auth.scss');
@import url('./components/auth/_sign.scss');
@import url('./components/navbar/_navbar.scss');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('./components/add/_searchchamp.scss');
@import url('./components/add/_formadd.scss');
@import url('./components/add/_navigation.scss');
@import url('./components/home/_home.scss');
@import url('./components/user/_account.scss');
@import url('./components/champions/_champions.scss');

* {
    font-family: 'Roboto';
    margin: 0;
}

@mixin desktop {
    @media (min-width: 768px) {
        @content
    }
}

body {
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: visible !important;
    padding-right: 0px !important;
    @include desktop {
        background-size: 40%;
        background-repeat: repeat;
    }
}

a {
    color: #21333C;
    text-decoration: none;
}

h1 {
    font-size: 1.5rem;
    color: white;
}

h2 {
    font-size: 1rem;
}

// MODIFICATION MATERIAL UI
.css-10botns-MuiInputBase-input-MuiFilledInput-input {
    background: white;
}
