@import url('./components/auth/_auth.scss');
@import url('./components/auth/_sign.scss');
@import url('./components/navbar/_navbar.scss');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('./components/add/_searchchamp.scss');
@import url('./components/add/_formadd.scss');
@import url('./components/add/_navigation.scss');

* {
    font-family: 'Roboto';
    margin: 0;

}
a {
    color: white;
    text-decoration: none;
}
