.formadd {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__back {
        position: fixed;
        bottom: 8%;
        background-color: white;
    }
    &__send {
        position: fixed;
    }
    &__champions {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        & img {
            width: 30%;
        }
    }
}